.home {
  padding: 5px;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.homeContent {
  height: fit-content;
}
.homeContent > div {
  background-color: azure;
}

.leftpane {
  background-color: azure;
}

.resourceList > div {
  padding: 5px;
}

.quote {
  background-color: rgb(235, 235, 235);
  border: 2px dotted gray;
  margin: 30px 30px;
  padding: 5px;
  border-radius: 5px;
}