.navLink {
  text-decoration: none;
  color: var(--bs-nav-link-color);
}

.navLink:hover {
  color: var(--bs-navbar-hover-color);
}

.navlink.brand {
  color: var(--bs-navbar-brand-color);
}

.navLink.brand:hover {
  color: var(--bs-navbar-brand-hover-color);
}

.App {
  overflow-x: hidden
}