.navLink {
  text-decoration: none;
  color: var(--bs-nav-link-color);
}

.navLink:hover {
  color: var(--bs-navbar-hover-color);
}

.navlink.brand {
  color: var(--bs-navbar-brand-color);
}

.navLink.brand:hover {
  color: var(--bs-navbar-brand-hover-color);
}

.App {
  overflow-x: hidden
}

.footer {
  margin: 20px;
}

.footer > p {
  text-align: center;
  font-size: small;
  margin-bottom: 0.5em;
  color: rgb(107, 107, 107);
  text-decoration: underline;
}

.mainContent > div {
  height: fit-content;
}