/* .resourceSpan.water {
  color: darkblue
}

.resourceSpan.volatiles {
  color:orangered
}

.resourceSpan.metals {
  color: gray
}

.resourceSpan.nobleMetals {
  color :darkgoldenrod
}

.resourceSpan.fissiles {
  color: darkgreen
}

.resourceSpan.antimatter {
  color: black
}

.resourceSpan.exotics {
  color: purple
} */

.buildcost {
  margin-bottom: 0px;
}

.resourceIcon {
  vertical-align: middle;
  height: 15px;
}

.resourceSpan {
  line-height: 30px;
  display: inline-block;
}