.capacityDisplayLabel {
  font-weight: bold;
  text-decoration: underline;
}

.capacityDisplayLabel.danger {
  color: var(--bs-danger)
}

.capacityDisplayLabel.success {
  color: var(--bs-success)
}

.capacityDisplayLabel.warn {
  color: var(--bs-warning)
}

.modifiableInputList>.row {
  margin: 0px;
}

.removeBtn {
  width: 100%;
}